node_modules/
.idea/
config.json
npm-debug.log
multipool/inferno-payment.sh
multipool/inferno-profit.sh
multipool/nxt-payment.sh
website/static/scrypt.txt
website/static/sha256.txt
multipool/webdis.json
